<div class="card-container">
  <div *ngFor="let plate of menuList" class="card">
    <div class="warning-icon">
      ⚠️ 
    </div>
    <img [src]="plate.plate_img" alt="Imagen de " class="card-image">
    <div class="card-info">
      <h2>{{ plate.plate_name }}</h2>
      <p>{{ plate.plate_desc }}</p>
      <p><strong>Precio:</strong> ${{ plate.price }}</p>
    </div>
    <div class="card-buttons">
      <button class="btn btn-view-more">Ver más</button>
      <button class="btn btn-buy">Comprar</button>
    </div>
  </div>
</div>


