<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex">
      <div class="m-r-auto m-b-8">
        <mat-card-title>Menú</mat-card-title>
        <mat-card-subtitle>Listado de platos</mat-card-subtitle>
      </div>
      <div>
        <button mat-flat-button color="primary" class="m-r-8" (click)="createNewPlate()">
          Crear nuevo plato
        </button>
      </div>
    </div>
    <hr>

    <div class="card-container">
      <div *ngFor="let plate of menuList" class="card">
        <img [src]="plate.plate_img" alt="Imagen de {{ plate.plate_name }}" class="card-image">
        <div class="card-info">
          <h2>{{ plate.plate_name }}</h2>
          <p>{{ plate.plate_desc }}</p>
          <p><strong>Precio:</strong> ${{ plate.price }}</p>
        </div>
        <div class="card-buttons">
          <button class="btn btn-view-more" (click)="openMenuDetails(plate)">Ver más</button>
          <button class="btn btn-buy">Comprar</button>
          <button class="btn btn-delete" color="warn" (click)="deletePlate(plate)">Borrar</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
