<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex">
      <div class="m-r-auto m-b-8">
        <mat-card-title>Mesas</mat-card-title>
        <mat-card-subtitle>Listado</mat-card-subtitle>
      </div>
      <div>
        <button mat-flat-button color="primary" class="m-r-8" (click)="createNewTable()">
          Crear nueva mesa
        </button>
      </div>
    </div>
    <hr>

    <div *ngIf="tableList.length > 0; else noTables" class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th>ID</th>
            <th class="f-w-t600 f-s-14">Tamaño</th>
            <th class="f-w-t600 f-s-14">Estado</th>
            <th class="f-w-t600 f-s-14">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of tableList" class="f-s-14">
            <td>{{ table.table_id }}</td>
            <td>{{ table.table_size }}</td>
            <td>
              <span 
                [ngClass]="{
                  'text-success': table.table_disp === true,
                  'text-danger': table.table_disp === false
                }"
              >
                {{ table.table_disp ? 'Desocupada' : 'Ocupada' }}
              </span>
            </td>
            <td>
              <!-- Botón para mostrar más información -->
              <button mat-menu-item (click)="openTableDetails(table)">
                <mat-icon>info</mat-icon>
                <span>Más</span>
              </button>

              <!-- Botón para reservar una mesa -->
              <button mat-menu-item (click)="reserveTable(table)">
                <mat-icon>event_seat</mat-icon>
                <span>Reservar</span>
              </button>

              <!-- Botón para eliminar mesa -->
              <button mat-menu-item color="warn" (click)="deleteTable(table)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noTables>
      <div class="text-center p-4">
        <h2>No hay mesas registradas 😢</h2>
        <p>¡Agrega nuevas mesas para verlas aquí!</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
